
body { 
    width: 100vh;
    background-color: rgb(24, 232, 255);}
  
.subtitle { align-items: center; color: rgb(29, 31, 32); display: flex;}

.login-container {background-color: rgb(28, 28, 27); }