
body { 
    width: 100vh;
    background-color: rgb(24, 232, 255);}
  
.subtitle { align-items: center; color: rgb(29, 31, 32); display: flex;}

.login-container {display: flex; align-items: center; justify-content: space-between}