
body { 
    width: 100vh;
    background-color: rgb(24, 232, 255);}

.subtitle { align-items: center; color: rgb(29, 31, 32); }

.login-container {display: flex; align-items: center; justify-content: center;}